* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  position: relative;
  width: 80%;
  min-width: 1200px;
  margin: auto;
}
/* LINE HEGHT P */
h2 {
  font-size: 200%%;
}
p {
  line-height: 30px;
  font-size: 87%;
  font-weight: 500;
}

/* HORIZONTAL BARS */
.h-bar100 {
  width: 100%;
  height: 100px;
}

.h-bar80 {
  width: 100%;
  height: 80px;
}
/* CLEARFIX */
.clearfix {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

/* DSIPLAY */
.block {
  display: block;
}

.inl-blck {
  display: inline-block;
}

/* FONT SIZES */
.font-80perc {
  font-size: 80%;
}


/* TEXT ALIGNS */
.txt-al-r {
  text-align: right;
}
.txt-al-c {
  text-align: center;
}

/* VERTICAL ALIGN */
.vtal-m {
  vertical-align: middle;
}

/* WIDTHS PADDINGS AND MARGINS */
.w-50 {
  width: 50%;
}
.pv-40 {
  padding: 40px 0;
}

.pv-25 {
  padding: 25px 0;
}
.mv-20 {
  margin: 20px 0;
}
.mv-30 {
  margin: 30px 0;
}
.mv-50 {
  margin: 50px 0;
}

.mt-60 {
  margin-top: 60px;
}
.mt-70 {
  margin-top: 70px;
}

/* BUTTONS */
.btn {
  padding: 10px;
  text-decoration: none;
  border: solid 1px;  
  border-radius: 6px;
  color: #FF6C55;
}
.jumbotron .btn{
  padding: 20px 35px;
}

/* BACKGROUND COLORS */
.bg-lgrey {
  background-color: #F2F8FC;
}

.bg-red {
  background-color: #FF6C55;
}
.bg-drkblue {
  background-color: #294050;
}
.bg-lgrn {
  background-color: #9EE8E0;
}


/* COLORS */
.acq {
  color: #009AB3;
}
.drkbl {
  color: #2A3E50;
}

.white {
  color: white;
}

/* NAV */
nav li {
  display: inline-block;
  margin: 0 1%;
}
nav a {
  text-decoration: none;
}

nav .srch-icon img {
  width: 40%;
  vertical-align: middle;
}

/* NAV LANG/CONTACT US */
#nav-lang-contact li:first-of-type {
  border-right: solid 1px;
  height: 21px;
  padding-right: 2%;
}

/* NAV MENU-ABOUT SORT ARROW */
#menu-about li {
  margin-top: 5px;
  margin-left: 2%;
}
#menu-about i.fa-chevron-down {
  margin-left: 15px;
}

#nav-drop-down-menu {
  border-top: solid 1px #294050;
}


/* BANNER HEADER */

#banner-header {
  position: relative;
  height: 695px;    
  background-image: url(../img/jumbotron.png);
  background-position: right;
  background-repeat: no-repeat;
  background-color: #FFF2ED;
}


#bot-banner-overlay {
  position: absolute;
  bottom: -14px;
  border: solid #2A3E50;
  border-width: 3px 0; 
}


#header-jumbotron {
  position: absolute;
  top: 70px;
  width: 36%;
}

#header-jumbotron h1 {
  font-size: 40px;
  font-weight: 700;
}


/* CUBE POWERFULL SECTION */
#cube-powerfull img {
  width: 20%;
  margin: 50px auto 0;
}


#cube-powerfull .txt-al-c.drkbl {
  width: 55%;
  margin: auto;
}