* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  position: relative;
  width: 70%;
  min-width: 1200px;
  margin: auto;
}

/* LINE HEGHT P */
h2 {
  font-size: 200%;
}

h3 {  
  font-size: 140%;
}

p {
  line-height: 30px;
  font-size: 90%;
  font-weight: 500;
}

/* HORIZONTAL BARS */
.h-bar100 {
  width: 100%;
  height: 100px;
}

.h-bar80 {
  width: 100%;
  height: 80px;
}

/* CLEARFIX */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

/* DSIPLAY */
.block {
  display: block;
}

/* FONT SIZES */
.font-80perc {
  font-size: 80%;
}


/* TEXT ALIGNS */
.txt-al-l {
  text-align: left;
}

.txt-al-r {
  text-align: right;
}
.txt-al-c {
  text-align: center;
}


/* WIDTHS */

.w-50 {
  width: 50%;
  margin: auto;
}

.w-90 {
  width: 90%;
  margin: auto;
}

/* PADDINGS AND MARGINS */
.pv-25 {
  padding: 25px 0;
}

.pv-40 {
  padding: 40px 0;
}

.pt-5 {
  padding-top: 5px;
}

.pt-60 {
  padding-top: 60px;
}
.pb-60 {
  padding-bottom: 60px;
}

.mv-20 {
  margin: 20px 0;
}
.mv-30 {
  margin: 30px 0;
}
.mv-50 {
  margin: 50px 0;
}
.mt-50 {
  margin-top: 50px;
}

/* BUTTONS */
.btn {
  padding: 10px;
  text-decoration: none;
  border: solid 1px;  
  border-radius: 6px;
  color: #FF6C55;
}

.btn-lrg .btn{
  padding: 20px 35px;
}

/* BACKGROUND COLORS */
.bg-lgrey {
  background-color: #F2F8FC;
}
.bg-white {
  background-color: white;
}
.bg-red {
  background-color: #FF6C55;
}
.bg-drkblue {
  background-color: #294050;
}
.bg-lgrn {
  background-color: #9EE8E0;
}

.bg-linear-grn {
  background: linear-gradient(to right, #00A0AE 3%, #00B39C 100%);
}

/* COLORS */
.drkbl {
  color: #2A3E50;
}

.white {
  color: white;
}


/* NAV */
nav li {
  display: inline-block;
  margin: 0 1%;
}
nav a {
  text-decoration: none;
}

nav .srch-icon img {
  width: 40%;
  vertical-align: middle;
}


/* NAV LANG/CONTACT US */
#nav-lang-contact li:first-of-type {
  border-right: solid 1px;
  height: 21px;
  padding-right: 2%;
}

/* NAV MENU-ABOUT SORT ARROW */
#menu-about li {
  margin-top: 5px;
  margin-left: 2%;
}
#menu-about i.fa-chevron-down {
  margin-left: 15px;
}

#nav-drop-down-menu {
  border-top: solid 1px #294050;
}


/* BANNER HEADER */
#banner-header {
  position: relative;
  height: 695px;    
  background-image: url(../img/jumbotron.png);
  background-position: right;
  background-repeat: no-repeat;
  background-color: #FFF2ED;
}


#bot-banner-overlay {
  position: absolute;
  bottom: -14px;
  border: solid #2A3E50;
  border-width: 3px 0; 
}


#header-jumbotron {
  position: absolute;
  top: 70px;
  width: 45%;
}

#header-jumbotron h1 {
  font-size: 40px;
  font-weight: 700;
}


/* CUBE POWERFULL SECTION */
#cube-powerfull img {
  width: 20%;
  margin: 50px auto 0;
}


#cube-powerfull .txt-al-c.drkbl {
  width: 65%;
  margin: auto;
}

/* BOX SECTIONS */
.box {  
  border-radius: 5px;
  box-shadow: 1px 1px 5px  rgba(0, 0, 0, 0.3);
}

.box ul{
  list-style: none;
}

.box i {
  font-size: 60%;
  padding: 2px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 3%;
}

.box img {
  height: 100px;
}

.box h5 {
  position: relative;
  font-size: 110%;
}


/* FREE HUBSPOT CRM  */
#free-hubspot-crm .box {
  width: 100%;
  padding: 80px 8% 60px;
}

#free-hubspot-crm #book-learn-more {
  width: 20%;
  margin-right: 7%;
}

#free-hubspot-crm .box-text {
  width: 60%;
}

#free-hubspot-crm h5:after {
  position: absolute;
  content: '';
  display: table-cell;
  border-bottom: solid 2px;
  width: 75%;
  left: 35%;
  top: 50%;    
}

#free-hubspot-crm li {
  display: inline;
  margin-right: 3%;
  vertical-align: middle;  
}

/* 3 BOX COLUMNS INFO-HUBSPOT  */
.col-3 .col {
  width: 30%;
}
.col-center {
  margin: 0 5%;
}

.col-3 .box {
  padding: 10px 14% 0;
}

.col-3 .box {
  padding: 20px 15%;
}

.col h3 {
  min-height: 40px;
  margin: 20px auto;
}
.col p {
  min-height: 200px;  
}


#info-hubspot h5:after {
  position: absolute;
  width: 100%;  
  top: 0;
  content: '';
  display: table-cell;
  border-bottom: solid 2px;
}

#info-hubspot .btn-lrg {
  margin-top: 60px;
  margin-bottom: 20px;
}

/* TABLE AWARDS */
#table-awards p {
  font-size: 16px;  
  padding: 0 60px;
}

.table .row{
  width: 100%;
}

#table-awards .tb-cell {
  width: 25%;
  padding: 1% 2%;
  max-height: 200px;
}
.table .borders {
  border: solid 1px;
  border-top: 0px;  
  border-bottom: 1px;  
  border-right: 1px;  
}

#table-awards img {
  height: 25px;
  max-height: 30px;
  margin: 20px auto;
}

#table-awards span {
  font-weight: 300;
}
#table-awards .row-top {
  border-bottom: solid 1px;
  border-width: 150%;
}


